<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit Dish</h1>
    <form class="container" action="/vietfood/<%= dish._id %>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%= dish.name %>" /><br />
      <h6></h6>
      Taste: <input type="text" name="taste" value="<%= dish.taste %>" /><br />
      <h6></h6>
      Is Vegetarian: <input type="checkbox" name="isVeg" <% if(dish.isVeg === true){ %> checked <% } %> /><br />
      <h6></h6>
      <input type="submit" value="EDIT" />
    </form>
    <nav>
      <a href="/vietfood">Back to Vietnamese Favorites</a>
    </nav>
  </body>
</html>