<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>New</title>
</head>
<body>
    <h1>Add Dish</h1>
    <form class="container" action="/vietfood" method="POST">
        Name: <input type="text" name="name" /><br/>
        <h6></h6>
        Taste: <input type="text" name="taste" /><br/>
        <h6></h6>
        Is Vegetarian: <input type="checkbox" name="isVeg" /><br/>
        <h6></h6>
    <input type="submit" name="" value="ADD"/>
    </form>
    <h1></h1>
    <nav>
        <a href="/vietfood">Back to Vietnamese Favorites</a>
    </nav>
    </body>
</html>