<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Show</title>
</head>
<body >
    <h1><%= dish.name %></h1>
    <nav>
        <a href="/vietfood">Back to Vietnamese Favorites</a>
    </nav>
    <div class="container">
        Taste: <%= dish.taste %>
        <br>
        Is Vegetarian: <%= dish.isVeg %>
        <h1></h1>
    </div>
</body>
</html>